# URL base para la API del backend
VITE_API_URL=http://localhost:8081/api
# .env (archivo)
VITE_CLOUDINARY_CLOUD_NAME=su_cloud_name_de laempresa q tenemo
VITE_CLOUDINARY_UPLOAD_PRESET=su_upload_preset_ dela empresa q hay
VITE_CLOUDINARY_UPLOAD_FOLDER=cvs